doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title data_model
		link(rel="stylesheet", type="text/css", href="stylesheets/data_model_style.css")
	body
		h1 Data Model
		br
		div#myDiv JSON
			//- -var data = data
			//- div.parent dataset
			//- each val, index in Object.keys(test_JSON)
			//- -var keyName = val
				//- each val, indx in keyName
						//- 	p= keyName
						//- 	div.child= val
					//- all this stuff works
					//- li.child #{Object.keys(test_JSON)[0]}
					//- li.child #{Object.keys(test_JSON).length}
					//- li.child #{Object.keys(test_JSON.meta).length}
				//- ul
				//- 	each valle, inde in {1:'one',2:'two',3:'three'}
				//- 		li= inde + ': ' + valle
				
				//- div.child _ID:
				//- div.child name : art
				//- div.child organization : orgID
				//- div.child status : published
				//- div.child timeToLive:  
				//- div.child managingUsers:
				//- 	div.child userID1
				//- 	div.child userID2
				//- 	div.child ...
				//- div.child managingApp
				//- 	div.child appID1
				//- 	div.child appID2
				//- 	div.child ...
				//- div.child elementCount:
				//- div.child elementCountActive:
				//- div.child createdTS:
				//- div.child numberUpdates:
				//- div.child updatedTS:
				//- div.child eventLog:
				//- 	div.child event1
				//- 	div.child event2
				//- 	div.child ...
				//- div.child indices:
				//- 	div.child index1
				//- 	div.child index2
				//- 	div.child ...

		script(type="text/javascript") var data = !{JSON.stringify(test_JSON)};
		script(src='scripts/main.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js')
		script(src='scripts/data_model.js')
			//- TEMPLATE
		script#startData(type='text-handlebars-template')